body {

    text-align: center;
}

table {
    text-align: center;
    margin: auto;
}
td, tr, th{

    border: 1px solid gray;
    padding: 12px;
    
}


#title {

    border: none;
    background-color: gray;
    color: black;
    font-weight: normal;
}

ul {

    list-style: none;
    margin: 5rem;
    text-align: center;
}

